<html class="no-js" lang="">
<!--<![endif]-->

<header>
    <%- include('partials/header')%>
</header>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Loại sản phẩm</th>
                    <th>Công cụ</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <% listpost.forEach(function(posts){%>
                    <tr>
                        <td>
                            <%= posts.ProductName%>
                        </td>
                        <td>
                            <%= posts.Price%>
                        </td>
                        <td>
                            <%= tpy %>
                        </td>
                        <td>
                            <a href="#" id="btn1" data-id="<%= posts._id%>" data-status="PS01" type="button" class="btn btn-success Hienthi">Hiển thị</a>
                            <a href="#" id="btn2" data-id="<%= posts._id%>" data-status="PS02" type="button" class="btn btn-danger An">Ẩn</a>
                        </td>
                        <td>
                            <a href="/updateproduct/<%= posts._id%>">Chỉnh sửa</a>
                        </td>
                    </tr>
                    <%});%>
            </tbody>
        </table>
    </div>

</body>

<footer>
    <%- include('partials/footer')%>
</footer>

</html>